{
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint"
}
